@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --clr-grad-1: #1d0114;
    --clr-grad-2: #ac18c0;
    --clr-tb-h: rgb(22, 164, 253);
    --clr-tb-b: rgba(255, 255, 255, 0.2);
    --clr-tb-c: #0000009a;
    --clr-tb-hover: #84a7ff;
    --clr-transparente: #00000071;
    --clr-red: #b41717;
    --clr-blue: #1a59ec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body{
    background-image: url("https://media4.giphy.com/media/551KVCDoIwyiyXMVG9/giphy.gif");
    background-size: cover;
    background-attachment: fixed;
}
.gran-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--clr-transparente);
}
.formulario-div {
    padding: 20px;
    background-color: var(--clr-blue);
    border-radius: 10px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
}
thead {
    background: var(--clr-tb-h);
}
th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}
td {
    padding: 15px;
    border-bottom: solid 1px var(--clr-tb-b);
}
tbody tr {
    background-color: var(--clr-grad-2);
    cursor: pointer;
}
tbody tr:hover { background: var(--clr-tb-hover); }
tr:nth-child(even){ background-color: var(--clr-tb-c);}
.img-icon { max-width: 2vw;}
.boton {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1vw;
}
.boton-eliminar {background-color: var(--clr-red);
margin-left: 0.5vw;}
.boton-editar {background-color: var(--clr-blue);}
.boton-crear {
    background-color: #000;
    width: 100%;
    margin-bottom: 1vw;
}
.oculto{
    display: none;
}