@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #ebc7c7;
    --clr-transparente: #00000071;
    --clr-blue-dark: #002C3A;
    --clr-inp: #fce4e1;
    --clr-red: #df1313;
    --clr-blur: hsla(0, 0%, 100%, 0.299);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea { margin: 0;}
ul { list-style-type: none; }
a { text-decoration: none; }
.container {
    display: flex;
    background-color: var(--clr-black);
    flex-direction: column;
    width: 100vw;
}
header {
    background-color: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 1000;
    width: 100vw; 
}
.tiempoReal {
    color: var(--clr-white);
    padding: 1vh 2vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-weight: 400;
    padding: 0;
    font-size: 2vw;
    height: 100%;
    color: var(--clr-white);
    padding: 2vh 2vw;
}
.lista {
    display: flex;
    flex-wrap: wrap; 
}
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 0.5rem;
}
main {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-inicio {
    background-image: url("https://upload-os-bbs.hoyolab.com/upload/2023/06/04/345859709/05adb3c2a06cdddf2826b2dbbb6eeae5_4025544552747757028.jpeg");
}
.contenedor-inicio{
    backdrop-filter: blur(10px);
    background-color: var(--clr-transparente);
    min-height: 100vh;
    padding: 5vh 0;
}
.titulo-inicio {
    font-size: 10vw;
    line-height: 1;
}
.texto-inicio { font-size: 3vw; }
.caja-inicio {
    color: var(--clr-inp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw 0;
    gap: 4vh;
}
.boton-iniciar {
    background-color: var(--clr-blur);
    color: var(--clr-white);
    padding: 2vh 2vw;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 3vw;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: var(--clr-black); 
    }   
}
.formulario { background-image: url("https://i.pinimg.com/originals/e1/c8/7e/e1c87ee027baaf5b8a31d97eb74d1d1d.gif"); }
.contenedor-formulario {
    max-width: 70vw;
    padding: 5vh 5vw;
    border-radius: 10px;
    margin: 5vh 5vw;
    backdrop-filter: blur(10px);
    background-color: var(--clr-blur);
}
.contenedor-formulario .title {
    font-weight: 500;
    margin-bottom: 1vh;
    text-align: center;
    color: var(--clr-inp);
}
.container form {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vh 1vw 0;
}
form .form-group {
    margin-bottom: 2vh;
    width: calc(100%/2 - 20px);
    color: var(--clr-inp);
}
form span{
    display: block;
    font-weight: 500;
    margin-bottom: 1vh;
}
.form-group input, .form-group select{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 2vw;
    border: 1px solid var(--clr-blue-dark);
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--clr-transparente);
    transition: all 0.3s ease;
    color: var(--clr-inp);
}
form .button {
    width: 100%;
    height: 40px;
    margin: 0; 
}
form .button input {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background-color: var(--clr-blur);
    color: var(--clr-white);
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
/* Para la tabla */
.main-tabla{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/jalpadragcarwheelie-64871d23285f1.gif?resize=640:*");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.tabla-container{
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    min-height: 100vh;
    width: 100%;
}
table {
    color: #fff;
    font-size: 2vw;
    max-width: 60%;
}
thead { background: var(--clr-blue-dark); }
th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}
td {
    padding: 15px;
    border-bottom: solid 1px transparent;
}
tbody tr {
    background-color: var(--clr-transparente);  
    backdrop-filter: blur(15px);
    cursor: pointer;
}
tbody tr:hover { background: var(--clr-black); }
tr:nth-child(even){ background-color: var(--clr-blur);  
    backdrop-filter: blur(15px);}
.boton {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1vw; 
    gap: .7vw;
    display: flex;
    padding: .9vw;
    font-size: 1vw;
}
.boton-eliminar {background-color: var(--clr-red);}
.boton-editar { background-color: var(--clr-blue-dark); }
#totalidad {
    font-size: 2vw;
    margin-bottom: 2vh;
    color: var(--clr-inp);
    background-color: var(--clr-transparente);
    padding: 2vh;
    border-radius: 5vw;
    align-self: flex-end;
    position: sticky;
    top: 12vh;
    margin-right: 5vw;
    z-index: 1000;
    cursor: pointer;
    &:hover {background-color: var(--clr-white); color: var(--clr-black);}
}
.count { display: flex; }
#media-query{ display: none;}
#busc {
    display: flex;
    margin-bottom: 2vh;
}
#busc input {
    width: 100%;
    outline: none;
    border-radius: 2vw;
    border: 1px solid var(--clr-blue-dark);
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--clr-transparente);
    transition: all 0.3s ease;
    color: var(--clr-inp);
}
#busc button { cursor: auto; }
.oculto{ display: none; }
@media (max-width: 768px) {
    .container{ filter: blur(10px); }
    .tabla-container, .contenedor-formulario{ display: none; }
    #media-query{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        top: 0;
        position: fixed;
        z-index: 10000;
        color: var(--clr-white);
        padding: 5vw;
        text-align: center;
    }
    #media-query p { font-size:5vw; }
    #media-query h2 {
        font-size:15vw;
        line-height: 1;
    }
    .tiempoM {
        position: fixed;
        top:0;
        background-color: var(--clr-transparente);
        padding: 4vw;
        width: 100vw;
    }
}